*{
  box-sizing: border-box;

}

body{
  font-family:'Flamenco', cursive ;
  color: #384047;
  background-color: grey;
  }

form{
  max-width: 600px;
  margin: 10px auto;
  padding: 20px 20px;
  background: #f4f7f8;
  border-radius: 8px;

}
h1{
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],[type="number"],[type="date"],
textarea,
datalist{
  background: gba(255,255,255,0,1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color:#e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgb(0,0,0,0.3)inset;
  margin-bottom: 10px;
  border-radius: 10px;

}
input:focus,textarea:focus {
  box-shadow: 0 0 5px rgba(81,203,238,1);
  border: :1px solid rgba(81,203,238,1);
}
/*datalist{
  padding: 6px;
  border-radius: 2px;
  height: 30px;
}*/

fieldset{
  margin-bottom: 30px;
  border: none;
}
legend{
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
/*  text-align: left;*/
}
.selection{
  background-color: #5fcf80;
  color:#fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
input[type="submit"]{
  padding: 15px 39px 15px 39px;
  float: left;
  color: #FFF;
  background-color: #4bc976;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 100px;
  width: 50%;
  border:1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1)inset;
  margin-bottom: 10px;
}

img{
  width: 75px;
  height: 75px;
  padding: 1px;
}


@@media screen and(min-width:480px) {
  form{
    max-width: 480px;
  }
}
